[mysqld]

max_connections = 4096

character-set-server = utf8

innodb_file_per_table

default-storage-engine = innodb

bind-address = 10.0.0.11

collation-server = utf8_general_ci

collation-server = utf8_general_ci